<a href="https://colab.research.google.com/github/ssommmii03/DL23/blob/main/DLW02d_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# 📗 Topic [2]: Coding basic #2
---
Keywords:

+ variables
+ **operators**
+ **data types: list and dictionary**

Your github IDs [here](https://docs.google.com/spreadsheets/d/17SX51lCqOdtvC7cAGoX5tP9fKwVdGY5sRzMg2pXh9uk/edit#gid=0) - revised 0327

## [1] Variables

+ **A variable** is a named storage location that holds a value.
- **변수**는 값을 포함하는 명명된 저장 위치입니다.
+ Variables can be used **to store values** such as numbers, strings, lists, or other data types.
- 변수는 숫자, 문자열, 목록 또는 기타 데이터 유형과 같은 **값을 저장**하는 데 사용할 수 있습니다.
+ The value of a variable can change throughout the execution of a program.
- 변수의 값은 프로그램을 실행하는 동안 변경될 수 있습니다.
+ To declare a variable in Python, you need to assign a value to it using the **equal (=) sign.**
- Python에서 변수를 선언하려면 **equal (=) 기호를 사용하여 변수에 값을 할당해야 합니다.**

In [ ]:
x = 10
y = "Hello, class!"
z = [1, 2, 3]

↗️ In the above example, 'x' is assigned the value of 10, 'y' is assigned the value of "Hello, World!", and 'z' is assigned the value of [1, 2, 3].

In [ ]:
# We can assign a link or a function
import pandas as pd
url = "https://github.com/MK316/Spring2023/raw/main/data/att_sample.csv"
data = pd.read_csv(url)
data

      Names
0      Mary
1      John
2       Tim
3       Bob
4     Sarah
5      Kate
6     Marie
7   Johnson
8      Mike
9     Harry
10      Jin
11      Sam
12     Paul
13  Natalie

## Commenting '#'

- In Python, the # symbol is used to indicate comment lines. A comment is a line of text in a code that is ignored by the Python interpreter and is used to provide explanations or notes for the reader of the code.
- Python에서 # 기호는 주석 행을 나타내는 데 사용됩니다. 주석은 Python 인터프리터가 무시하는 코드의 텍스트 줄이며 코드 판독기에 대한 설명이나 참고 사항을 제공하는 데 사용됩니다.

## Uncommenting shortcut: 
* "Ctrl + /" (Place the cursor on the code line and press the Control + / key.)
- "Ctrl + /" (커서를 코드 라인 위에 놓고 Control + / 키를 누릅니다.)

In [ ]:
# This is a comment in Python
# x = 10 # this is also a comment

In [ ]:
x1 = x * 10
x2 = x + 5

# print(x1) # Print the value of x1
print(x1, x2) # Print the values of x1 and x2

100 15

In [ ]:
print(y)
y1 = y + "Welcome to the class."
z1 = x1+x2

x="John"
y="came in"
z1=x+y 
print(y1, z1)

Hello, class!
Hello, class!Welcome to the class. Johncame in

Input types:

* integer: e.g., -3, 1, 0, 234, etc.
* float: e.g., -3.0, 1.2, 0, 3.141592653589793238, etc.
* string: (characters) "1", '0', "3.29", "Mary", "euphoria", 'My name is Jane.'

_Note:_ double or single quotation marks denote **string** data. (Open and close should match.)

In [ ]:
# DIY
x = 1
y = 3
z = x + y
print(z)

x1 = "1"
y1 = "3"
z1 = x1 + y1
print(z1)

4
13

In [ ]:
z = 4
type(z)

int

In [ ]:
z1 = "1" + "3"
type(z1)

str

In [ ]:
print(type(z), type(z1))

<class 'int'> <class 'str'>

## [2] Operators

* Symbols that perform operations on values and variables. 
- 값 및 변수에 대한 작업을 수행하는 기호입니다.
* They are used to perform arithmetic and logical operations, and they can also be used to manipulate and compare values. 
- 연산 및 논리 연산을 수행하는 데 사용되며 값을 조작하고 비교하는 데도 사용할 수 있습니다.

1. Arithmetic Operators: +, -, *, /, %, ** (for exponentiation)
2. semicolon ';' - separate multiple statements (code lines) on a single line.
   - 여러 문장(코드 행)을 한 줄로 구분합니다.

In [ ]:
x = 2; y = 5

a1 = x + y
a2 = x - y
a3 = x * y
a4 = x / y
a5 = x ** y

In [ ]:
print(a1, a2, a3, a4, a5)

7 -3 10 0.4 32

In [ ]:
print("The value of a1:", a1)

The value of a1: 7

# 🌱 Define a function

Demo 🔢 Calculator

In [ ]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

In [ ]:
# DIY: define a function names switch(x, y), where the input x, y changes its position in the output.

def switch(x,y):
  return print(y,x)

In [ ]:
switch("It" , "is")

is It

In [ ]:
add(1200,34)

1234

In [ ]:
def add(a,b):
    return a + b
def subtract(b,a):
    return b - a
def multiply(a,b):
    return a * b
def divide(b,a):
    return b / a
# Test
add (2,3)
subtract (3,2)
multiply (2,3)
divide (3,2)
마지막만 계산 됨

1.5

## Using dropbox format

In [ ]:
#@markdown 🔄 Making functions: tts('text')
%%capture
!pip install gTTS
from gtts import gTTS
from IPython.display import Audio

def tts(text):
  text_to_say = text

  gtts_object = gTTS(text = text_to_say,
                     lang = "en", tld = "us",
                    slow = True)
  
  gtts_object.save("E-audio.mp3")
  return Audio("E-audio.mp3")

In [ ]:
func = "multiply" #@param = ["add","subtract","multiply","divide"]
digits = input("Type two numbers: (e.g., 3,4)")
digitsplit = digits.split(',')
d1 = int(digitsplit[0])
d2 = int(digitsplit[1])

if func == "add":
  result = add(d1,d2)
  text = "The addition of %d and %d equals %d."%(d1,d2,result)
elif func == "subtract":
  result = subtract(d1,d2)
  text = "If you subtract %d from %d, you get %d."%(d2,d1,result)
elif func == "divide":
  result = divide(d1,d2)
  text = "When you divide %d by %d, you get %d."%(d1,d2,result)
elif func == "multiply":
  result = multiply(d1,d2)
  text = "%d multiplied by %d is %d."%(d1,d2,result)

from gtts import gTTS
from IPython.display import Audio

def tts(text):
    text_to_say = text
    gtts_object = gTTS(text=text_to_say, lang="en", slow=True)
    gtts_object.save("E-audio.mp3")
    Audio("E-audio.mp3", autoplay=True)

text = "Hello, how are you today?"

print(text)
tts(text)

print(text)
tts(text)


print(text)
tts(text)
Audio("E-audio.mp3" , autoplay = True)

Type two numbers: (e.g., 3,4)2,8

ModuleNotFoundError: ignored

More operators: <br>
* Comparison Operators: ==, !=, <, >, <=, >= <br>
* Assignment Operators: =, +=, -=, *=, /=, %= <br>
* Logical Operators: and, or, not <br>
* Identity Operators: is, is not <br>
* Membership Operators: in, not in

# 📗Topic [3] Data types: number, string, list and dictionary


|Data type| |
|:--:|:--:|
|number|int, float|
|string|charcter|
|list|[1, 2,4], ['Mary','Tom','Jane'|
|dictionary|(key: value), [('English': 80), ('Korean':90)]|
|tuple|('zero', 0)|

In [ ]:
a1 = 3   # a1 is integer
a2 = 3.0 # a2 is float
a3 = "3" # a3 is string

type(a1); type(a2); type(a3)
#print(type(a1), type(a2), type(a3)/

str

list and index (0, 1, 2,...)

In [ ]:
a = [1, "Mary", 4, "John"]  # This is a list.
print(type(a))

# a+a/

<class 'list'>

* index: Python index starts from '0'

e.g., a = [1, 2, 3, 4]

In [ ]:
a[0]
type(a[0])
type(a[1])
a[0] + a[2]
a[0] + a[1] # int + str + error

NameError: ignored

[Github accounts](https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_github.csv)



---
# The End